/*telo*/
html,
body{
    height:100%!important;
    position:relative;
    font-family: 'Noto Sans', sans-serif;
    font-size:16px;
    line-height: 1.4;
    color:#000;
    min-width: 320px;
    overflow-x: hidden;
    margin:0px !important;
}
/*/telo*/

/*header*/
.navbar{
    width:100%;
    justify-content: center;
}

.container1 {
    height: inherit;
    display:flex;
    justify-content: center;
    align-items:center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-menu{
    list-style:none;
    padding: 0 12px;
    margin-bottom:0;
    display: flex;
    gap: 1rem;
}
.navbar-menu li {
    display: flex;
}
    .navbar-menu li a {
        padding: 2px 22px;
        text-decoration: none;
        color: white;
        font-size: 16px;
        background-color: #3366FF;
        text-align: center;
        border-radius: 8px;
    }

.navbar-wrap{
    display:flex;
    flex-flow:row nowrap;
}
/*/header*/
/*content*/
.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main{
    flex: 1 1 auto;
}
._card {
    padding-top: 57px;
    border-top: 1px solid #DAE0E8;
    margin-top: 45px;
}
.cont-1 {
    margin: 25px 25px 25px 25px;
}
.img-card {
    max-width: 90px;
    border: solid 1px;
    border-radius: 29px;
    padding: 20px;
    border-color: #3366FF;
}
.my-carousel {
    padding: 0px 0 50px 0;
}
.cont-c {
    text-align: center;
    padding: 25px;
    margin-bottom: 50px;
}

.bt-1 {
    color:white;
    background: #3366FF;
}
    .bt-1:hover {
        color: #3366FF;
        border-color: #3366FF;
        background: white;
        border-radius: 6px;
    }

.cont-2 {
    padding: 40px 40px 40px 40px;
    background: #f8f8f8;
    margin: 40px 40px 40px 40px;
}
.img-cont-2 {
    display: flex;
    width: 30%;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    display: flex;
    text-align: justify;
}
.news_card-list {
    margin-top: -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.news_card-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.news_card{
    margin: 10px 10px 10px 10px;
}
.contaner-adv {
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 50px;
}
.load-more-button {
    border: solid;
    border-radius: 10px;
    background-color: #3366FF;
    color: white;
}
.btn-outline-revers-primary {
    outline: none !important;
    display: inline-block;
    background: #3366FF;
    color: #fff;
    border: 1px solid #3366FF;
    padding: 10px 30px;
    text-decoration: none;
    line-height: 1;
    text-align: center;
    width: 300px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    height: 60px;
    line-height: 58px;
    border-radius: 9.5px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: "helveticaneuecyrmedium", "helveticaneuecyrroman", Arial, Verdana;
    font-size: 18px;
    font-weight: normal;
}
.btn-outline-revers-primary:hover {
    background: #fff;
    color: #3366FF;
    text-decoration: none;
    border-color: currentColor;
}
.btn-block{
    text-align:center;
}
.maps {
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
}
.text-maps {
    text-align: center;
    color: #3366FF;
    font-size: 25px;
    font-weight: bold;
    padding-top: 57px;
    border-top: 1px solid #DAE0E8;
    background: #f1f5f9;
    margin: 0px 0px 45px 0px;
    padding-bottom: 57px;
    border-bottom: 1px solid #DAE0E8;
}
}

/*footer*/
.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.pb-3 {
    padding-bottom: 1rem !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.justify-content-center {
    justify-content: center !important;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}
.nav-link {
    display: block;
    padding-right: 50px!important;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    
}

.text-body-secondary {
    --bs-text-opacity: 1;
    color: #b5b1b1eb !important;
}
.nav-link:hover {
    --bs-text-opacity: 1;
    color: #ffffff !important;
}
.text-center {
    text-align: center !important;
}
footer {
    background-color: #212529;
    margin-top:auto;
}
/*/footer*/