@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Overlock&family=Roboto:wght@100;400&display=swap');

:root {
    --brandСolor: #2598D2;
    --btnColor: #3366FF;
    --bgColor: #CBD6F7;
    --grayColor: #E5E1E1;
    --title: 'Lora', serif;
    --subtitle: 'Overlock', cursive;
    --paragrath: 'Roboto', sans-serif;
}

html,
body {
    height: 100% !important;
    position: relative;
    font-family: var(--paragrath);
    font-size: 20px;
    line-height: 1.4;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
    margin: 0px !important;
}

h1 {
    font-family: var(--title);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #041D67;
}

.navbar-nav {
    --bs-nav-link-color: #ffffff;
    --bs-nav-link-hover-color: var(--grayColor);
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-collapse input,
.navbar-collapse button {
    border-radius: 20px;
    height: 50px;
}

.navbar-collapse button {
    color: var(--btnColor);
}

.icon-search {
    width: 100%;
    position: relative;
}

.icon-search input {
    position: relative;
    padding: 0px 40px;
    background: var(--grayColor);
}

.icon-search::before {
    content: "";
    position: absolute;
    background: url(../img/search.svg) no-repeat;
    left: 30px;
    top: 50%;
    width: 24px;
    height: 25px;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.navbar-brand h1 {
    padding-left: 10px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 51px;
    color: var(--brandСolor);
}

.navigate-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    color: var(--brandСolor);
    text-decoration: none;
    margin-right: 3rem;
}

.navigate-link:active {
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: var(--btnColor);
    text-decoration: underline;
}

.breadcrumb-item a {
    color: #000;
    text-decoration: none;
}

.shop-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shop-cards .card {
    border: 1px solid var(--brandСolor);
    border-radius: 0;
    max-width: 250px;
}

.card img {
    max-height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.shop-cards .card .card-body span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--btnColor);
}

.btn-round,
.btn-rectan {
    display: block;
    margin: auto;
    background: var(--btnColor);
    color: #ffffff;
}

.btn-round:hover,
.btn-rectan:hover {
    border: 1px solid var(--btnColor);
}

.btn-round {
    padding: 12px 40px;
    border-radius: 20px;
}

.btn-rectan {
    padding: 15px 30px;
    border-radius: 10px;
    max-width: 350px;
}

.stock .card {
    max-width: 450px;
    border: 1px solid var(--btnColor);
    border-radius: 20px;
}

.about-section {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.about-content {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20%;
}

.about-content img {
    border-radius: 20px;
}

.about-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
}

.benefits {
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
}

.benefit-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.benefit-item img {
    padding: 15px;
    background: #fff;
    border: 1px solid var(--btnColor);
    border-radius: 20px;
}

.maps {
    display: flex;
    justify-content: center;
    margin: 0;
}

.text-maps {
    text-align: center;
    color: var(--btnColor);
    padding-top: 57px;
    border-top: 1px solid #DAE0E8;
    background: #f1f5f9;
    margin: 0px 0px 1px 0px;
    padding-bottom: 57px;
    border-bottom: 1px solid #DAE0E8;
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px 0;
}

.footer-info,
.footer-info a {
    color: #fff;
}

.project-type {
    font-family: var(--paragrath);
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 38px;
}

.product-name,
.product-price {
    border-top: 2px solid #CBD6F7;
    border-bottom: 2px solid #CBD6F7;
    padding: 30px 2%;
}

.table-item {
    border: 1px solid var(--brandСolor);
}

.table-name {
    padding: 15px 0;
}

.table-item:nth-child(even) {
    text-align: right;
    font-weight: bolder;
}

.shopping-basket {
    align-items: center;
    border: 3px solid var(--btnColor);
    border-radius: 20px;
    margin: 30px 2%;
}

.basket-count {
    text-decoration-line: underline;
    color: #545454;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 30%;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn.dropdown-toggle-split:first-child,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:nth-child(n+3),
.btn-group>:not(.btn-check)+.btn {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}